SERVER_PORT=8081
DATABASE_URL=
DATABASE_USERNAME=
DATABASE_PASSWORD=
JWT_SECRET=
JWT_ACCESS_EXPIRATION=
JWT_REFRESH_EXPIRATION=
AUTH_MAX_CONCURRENT_SESSIONS=3
AUTH_SESSION_LIMIT_POLICY=REVOKE_OLDEST_SESSION
X_SERVICE_TOKEN=
APP_MAIL_ENABLED=true
RESEND_API_KEY=
RESEND_FROM_EMAIL=BidMart <onboarding@resend.dev>
FRONTEND_URL=http://localhost:3000
